/* shared styles */



.fonts{
     font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.display-flex{
    display: flex;
}

.text-dark01{
    color: #131313;
}

.text-dark02{
      color: #424242;
}

.text-dark03{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1) ;
}

.btn{
    color: #FFFFFF;
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 10px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}

.section-title{
    font-size: 3rem;
    font-weight: bold;
}

/* header styles */


/* navbar related styles */


.brand h3{
    font-size: 3rem;
    font-weight: bold;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-items{
     list-style: none;
     margin-right: 30px;
     
}

.nav-links{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 26px;
}

/* banner related styles */

header{
    padding: 45px;
   
}


.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-content .banner-heading{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
 
}

.banner-content .banner-desc{
    font-size: 1rem;
    margin-bottom: 32px;
}



.banner-img img{
    width: 100%;
}

/* main section related styles */

main{
    max-width: 1440px;
    margin: 0 auto;
}

.team{
    align-items: center;
    gap: 75px;
    margin-top: 85px;
    margin-bottom: 130px;
}

.features{
    max-width: 537px;
    width: 100%;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-img img{
    width: 100%;
}

.features .features-title{
    font-size: 3rem;
}

.features .features-title .quick-list-1{
    font-weight: 500;
}



.features .features-title .quick-list-3{
    color: #FF900E;
}

.features .features-desc{
    font-weight: 1rem;
    line-height: 1.5rem;
    margin-bottom: 35px;
}

/* features you will love related design */

.fuwl-container{
   align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    gap: 100px;
}



.fuwl-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;
}

.fuwl-desc{
    font-size: 1rem;
    line-height: 26px;
}

.fuwl-card-container{
    margin-top: 30px;
}

.fuwl-card-title{
    font-size: 1.25rem;
    font-weight: 600;
  
}

.fuwl-img img{
    width: 100%;
}

.fuwl-card{
    max-width: 580px;
    box-sizing: border-box;
    padding: 24px;
    margin-bottom: 20px;
     box-shadow:
    0 18px 35px -18px rgba(0, 0, 0, 0.08),  /* main soft shadow, pulled down */
    0 0 0 1px rgba(0, 0, 0, 0.03); 
    border-radius: 10px;
}




/* some facts section related design */

#some-facts-section{
    margin-top: 130px;
}

.some-facts-desc{
    font-size: 1rem;
    line-height: 26px;
    max-width: 540px;
   
}

.facts-container{
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
   
}

.facts-container .fact-card .fact-number{
    font-weight: 600;
    font-size: 3rem;
    margin-top: 5px;
    margin-bottom: 10px;
    
}

.facts-container .fact-card .fact-name{
    font-weight: 600;
    font-size: 1.25rem;
      margin-top: 10px;

}

.footer-section{
    max-width: 1440px;
    height: 100px;
    background-color: #FFF4E7;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    font-size: 1.25rem;
    text-align: center;
}

/* sponser section related styles */

.sponsor-info{
    max-width: 540px;
    text-align: center;
    margin: 0 auto;
    
}

.sponsor-info .sponsor-title{
    margin-bottom: 24px;
}

.sponsor-info .sponsor-desc{
    margin-bottom: 50px;
    font-size: 1rem;
    line-height: 26px;
}

 .sponsors-logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin-bottom: 130px;
}

.sponsors-logo img{
    filter: grayscale(100%);
    max-width: 180px;
    width: 100%;
}
/* responsive styles */

/* for small devices */

@media screen and (max-width: 576px){
    .navbar, .nav-links, .team{
        flex-direction: column;
        text-align: center;
      
       
    }

    .fuwl-container{
        flex-direction: column;
    }

    .team{
        gap: 20px;
    }

    .team-img, .facts-container, .sponsors-logo{
        grid-template-columns: repeat(1, 1fr);
        
    }

     .facts-container{
        gap: 20px;
        justify-items: center;
     }
     .sponsors-logo{
        gap: 50px;
        margin-bottom: 60px;
     }
    }
     

/* for medium devices */

@media screen and (min-width: 576px) and (max-width: 992px){
    .team, .fuwl-container{
        flex-direction: column;
        
    }

    .features{
        margin-left: 80px;
    }

    .facts-container{
        grid-template-columns: repeat(2, 1fr);
    }

     .facts-container{
        gap: 20px;
        justify-items: center;
     }

     .sponsors-logo{
        grid-template-columns: repeat(3, 1fr);
         gap: 50px;
          margin-bottom: 60px;
     }

    
}